/* خطوط غوغل
font-family: 'Ravi Prakash', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Play', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Cairo', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Lateef', cursive;*/
@font-face {
    font-family: DroidKufi-Regular;
    src: url(../fonts/DroidKufi-Regular.ttf);
}

@font-face {
    font-family: NotoSans-Regular;
    src: url(../fonts/NotoSans-Regular.ttf);
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: DroidKufi-Regular, NotoSans-Regular, 'Roboto', 'Helvetica';
}

/****START*********** searchanddate **********/
.searchanddate{
    background: #f4f4f4;
    padding:10px;
}
.searchanddate>.container>.row>div>input{
    padding:4px;
    direction: rtl;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 5px;
    width: 200px;
}
/****END********** searchanddate *************/

/****START************  logo  ***************/
.logo img{
    margin:30px 0px;
}
/****END************  logo  ***************/

/****START************  mainnav  ***************/
.mainnav nav ul{
    direction: rtl;
}
.mainnav nav ul a{
    cursor: pointer;
}
.mainnav nav ul a li:hover{
    transform:  scale(1.1);
    background: #0088cc;
    color:white;
}
.mainnav nav ul a li{
    border-radius: 4px;
    transition: all ease 0.3s;
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 900;
    padding:7px;
    color:#0088cc;
}

/****END************  mainnav  ***************/
/****START************  Secnnav  ***************/
.secnav{
    background: #fafafa;
    padding:20px 0;
}
.secnav nav ul{
    direction: rtl;
}
.secnav nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 900;
    color:#0088cc;
}
/****END************  Secnnav  ***************/
/****START************  counter  ***************/
.counter{
    background: #0088cc;
    color:white;
    padding:30px 0 ;
    font-size: 40px;
    font-weight: 900;
}

.counter>.container>.row>h1{
    font-size: 40px;
    font-weight: bold;
}
.counter>.container>.row>.col-lg-2>p{
    font-size: 15px;
    font-weight: 200;
    
}
/****END************  counter  ***************/

/****START************  SectionRow  ***************/
.sectionrow{
    margin:60px 0 ;
}
.sectionrow>.container>span{
    color:#999;
    font-size: 28px;
}
.sectionrow>.container>.row>h2{
    font-size: 40px;
    margin:30px 0 ;
    
}
.sectionrow>.container>.row>div{
    float: right;
    text-align: right;
    direction: rtl;
}

.sectionrow>.container>.row>div>img{
    width: 100%;
    height: 125px;
    box-shadow: 1px 1px 5px #888888
}
.sectionrow>.container>.row>div>h4{
    font-size: 20px;
    font-weight: 400;
}
.sectionrow>.container>.row>div>p{
    word-wrap: break-word;
    text-align: justify;
}
.sectionrow>.container>.row>div>p:nth-child(4){
    color:#999;
}
.sectionrow>.container>.row>div>p>i{
    margin: 0 6px;
}
/****END************  SectionRow  ***************/

/****START************  Subscribe  ***************/
.subscribe{
    padding:30px 0;
    background: #1D7FBE;
    color:white;
}
.subscribe h1 {
    margin:20px 0;
    font-size: 30px;
}
.subscribe input{
    padding:10px;
    border-radius: 5px;
    margin:20px 0;
    outline: none;
    border:none;
    width:65%;
}
.subscribe button{
    background: #d2322d
}
/****END************  Subscribe  ***************/

/****START************  socialpost  ***************/
.socialpost>.container>div{
    display: inline-block;
    margin:0 20px;
}
/****END************  socialpost  ***************/

/****START************ SEC SECTION ***************/
.sec-head{
    padding:30px 0;
}
.sec-header{
    padding:40px 0;
    background: #F4F4F4
}

.sec-header>.container>.row>div{
    float: right;
    text-align: right;
    direction: rtl;
    margin-bottom: 30px;
}


.sec-header>.container>.row>div>img{
    width: 100%;
    height: 125px;
    box-shadow: 1px 1px 5px #888888
}
.sec-header>.container>.row>div>h4{
    font-size: 20px;
    font-weight: 400;
}
.sec-header>.container>.row>div>p{
    word-wrap: break-word;
    text-align: justify;
}
.sec-header>.container>.row>div>p:nth-child(4){
    color:#999;
}
.sec-header>.container>.row>div>p>i{
    margin: 0 6px;
}
.pagenumber{
    background: #F4F4F4;
}
.pagenumber div ul{
    width: 300px;
    margin: 30px auto;
}
.pagenumber div ul li{
    display: inline-block;
    background: white;
    cursor: pointer;
    padding:8px;
    font-size: 22px;
    color:#0088cc;
    font-weight: bold;
}
.tall{
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    margin: 22px 0;
    border: 0;
    height: 1px;
    box-sizing: content-box;
    display: block;
    
}
/****END************ SEC SECTION ***************/

/****START************ page-header ***************/
.aritcal-post>.page-header {
    text-align: right;
}
.aritcal-post>.page-header {
    background-color: #171717;
    border-bottom: 5px solid #CCC;
    border-top: 5px solid #384045;
    margin: 35px 0 35px 0;
    min-height: 50px;
    padding: 20px 0;
    position: relative;
   
}
.aritcal-post>.page-header h1 {
    border-bottom: 5px solid #CCC;
    color: #FFF;
    display: inline-block;
    font-weight: 200;
    margin: 0 0 -25px;
    min-height: 37px;
    font-size: 2.6em;
    line-height: 46px;
    padding: 0 0 17px;
    position: relative;
    border-bottom-color: #0088cc;
}
.aritcal-post>div:nth-child(2){
    text-align: right;
    
}
.aritcal-post>div:nth-child(2)>.row{
    margin-bottom: 40px;
}
.aritcal-post>div:nth-child(2)>.row>h2{
    font-weight: 300;
    font-size: 35px;
    color: #0088cc;
    
}
.aritcal-post>div:nth-child(2)>.row>p{
    text-align: right;
    direction: rtl;
    display: inline-block;
    margin: 0 5px;
}
.aritcal-post div:nth-child(5) .row div{
    color:#555;
    float: right;
    text-align: right;
    direction: rtl;
}
/****END************ page-header ***************/

/****START************ FOOTER SECTION ***************/

.ftfooter {

    padding: 40px;
    text-align: center;
}

.ftfooter div {
    margin: 20px;
}

.ftfooter .tw-page {
    display: inline;
}

footer {
    direction: rtl;
    padding: 20px 0;
    color: #ffffff;
    background: #0e0e0e
}

.footer-social ul {
    margin: 0;
    padding: 0;
}

.footer-social ul li {
    margin-left: 5px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #2e2e2e;
    background: white;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.footer-social ul li:hover {
    cursor: pointer;
    color: white;
}

.footer-social ul li:nth-child(1):hover {
    background: #3b5999;
}

.footer-social ul li:nth-child(2):hover {
    background: #55acee;
}

.footer-social ul li:nth-child(3):hover {
    background: #a0522d;
}

.footer-social ul li:nth-child(4):hover {
    background: #0077B5;
}

.footer-social ul li:nth-child(5):hover {
    background: #cd201f;
}

.contact-us p {
    color: #828282;
    font-size: 15px;
}

.contact-us p .zaidemail {
    color: #ffffff;
}

.contact-us p i {
    color: #a6a6a6;
}

footer .row .zlfooter img {
    margin: 70px 0px 25px 0px;
    width: 250px;
}

footer .row .zlfooter div {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.donatebankdiv h5 {
    margin: 4px 0px 4px 0px;
}

.donatebankdiv h5 span {
    color: #a6a6a6;
}

.donatebankdiv h6 {
    margin: 0px 0px;
}

.donatebankdiv h6 span {
    color: #a6a6a6;
}

.donatebank img {
    float: right;
    width: 50px;
}

.donatebank p {
    direction: ltr;
    float: right;
    font-weight: bold
}

.copyrightfooter {
    margin-top: 20px;
    background: #060606;
    padding: 25px;
}


/****END************ FOOTER SECTION ***************/
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: white;
    padding: 20px 0;
    box-shadow: 2px 2px 15px gray;
}
.sticky2 {
    position: fixed;
    width: 100%;
    left: 0;
    top: 65px;
    z-index: 300;
    border-top: 0;
    background: white;
    padding: 20px 0;
    box-shadow: 0px 9px 15px rgba(84, 84, 84, 0.4);
}

.login-form{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/logi.jpg);
    background-size: cover;
}
.login-form>div{
    position: relative;
    width: 500px;
    height: 800px;
    text-align: center;
}
.login-form>div>form{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 400px;
    height: 280px;
    background: rgba(0, 0, 0, 0.4);
    padding-top:40px;
    
}
.login-form>div>form>h2{
    color:white;
    margin-bottom: 20px;
}
.login-form>div>form>input{
    color:white;
    direction: rtl;
    background: none;
    border:none;
    border-bottom: 1.5px white solid;
    padding :5px; 
    margin-bottom: 20px;
    outline: none;
    transition: all ease 0.4s
    
}
.login-form>div>form>input:focus{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px white solid;
}
.login-form>div>form>input::placeholder{
    color:white;
    font-size: 15px;
}
.login-form>div>form>button{
    padding:10px;
    background: none;
    color:white;
    border: none;
    outline: none;
    border: 1px white solid
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #444 !important;
    
}

/****START******** CONTROL PANEL *******/

.sidebar{
    position: absolute;
    width: 275px;
    height: 100%;
    
    
    
}
.sidebar>div:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    background-image: url(../img/sidebar-1.jpg);
    background-position: 0px -64px;
    background-repeat: no-repeat;
    width: 275px;
    height: 100%;
    z-index: -1;
}
.sidebar>div:nth-child(2){
    position: absolute;
    top:0;
    left: 0;
    width: 275px;
    height: 100%;
    background: rgba(0, 0, 0,0.7);
    z-index:-1;
}
.sidebar>div:nth-child(3){
    z-index: 120;
    padding:15px;
    text-align: center;
}
.sidebar>div:nth-child(3)>h2{
    margin-top: 60px;
    color:white;
}
.sidebar>div:nth-child(3)>img{
    width: 200px;
    border-top: 0.5px white solid;
    border-bottom: 0.5px white solid;
    padding: 15px 0;
    margin-bottom: 30px;
}
.sidebar>div:nth-child(3)>ul{
    
    padding:8px
}
.sidebar>div:nth-child(3)>ul>li{
    text-align: left;
    padding:10px;
    list-style: none;
    transition: all ease 0.4s;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sidebar>div:nth-child(3)>ul>li>a{
    
    color:white;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    text-decoration: none;
}
.sidebar>div:nth-child(3)>ul>li>i{
    color:white;
    width:20px;
    height:20px;
    font-size: 18px;
}
.sidebar>div:nth-child(3)>ul>li:nth-child(1){
    background: #e91e63;
    
}
.sidebar>div:nth-child(3)>ul>li:hover{
    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
}

/****END******** CONTROL PANEL *******/